.saved-news-titles {
  max-height: 374px;
  max-width: 712px;
  margin-left: 104px;
  margin-bottom: 56px;
}

.saved-news-titles__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 120px auto 28px 0;
  display: flex;
}

.saved-news-titles__hello {
  max-width: 530px;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.saved-news-titles__subtitle {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  padding: 0;
}

.saved-news-titles__subtitle_strong-mode {
  font-weight: 500;
}

@media screen and (max-width: 810px) {
  .saved-news-titles {
    max-height: 270px;
    max-width: 100%;
    margin-left: 40px;
    margin-bottom: 32px;
  }
  .saved-news-titles__title {
    font-size: 14px;
    margin: 90px auto 16px 0;
  }
  .saved-news-titles__hello {
    max-width: 336px;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
  }
  .saved-news-titles__subtitle {
    font-size: 14px;
  }
}