

.logout-button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logout-button__item {
  padding: 0;
  margin: 0 7px 0 0;
}

.logout-button__image {
  height: 16px;
  width: 17px;
}