.main {
  background: url('../../images/main_bg.jpg') no-repeat center;
  background-size: cover;
  max-height: 576px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content {
  max-width: 608px;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: white;
  max-width: 100%;
  margin: 160px auto 32px;
}

.main__subtitle {
  max-width: 545px;
  margin: 0 0 64px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main__form {
  max-width: 608px;
  width: 100%;
  margin: 0 auto 80px;
  height: 64px;
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  overflow: hidden;
  background-color: white;
}

.main__form_input {
  margin: 0 0 0 25px;
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  caret-color: #2F71E5;
}

.main__form_input:focus {
  outline: none;
}

.main__form_submit-button {
  background-color: #2F71E5;
  color: white;
  border-radius: 100px;
  padding: 0 53px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.main__form_submit-button:hover {
  background-color: #347EFF;
}

.main__form_submit-button:active {
  background-color: #2A65CC;
}

@media screen and (max-width: 810px) {
  .main {
    max-height: 400px;
  }
  .main__content {
    max-width: 452px;
  }
  .main__title {
    max-width: 385px;
    margin: 104px auto 16px 0;
    font-size: 36px;
    line-height: 40px;
  }
  .main__subtitle {
    margin-bottom: 48px;
    font-size: 16px;
  }
  .main__form {
    height: 56px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 490px) {
  .main {
    max-height: 536px;
  }
  .main__content {
    max-width: 320px;
  }
  .main__title {
    max-width: 320px;
    margin: 86px auto 16px;
  }
  .main__subtitle {
    margin-bottom: 80px;
    font-size: 18px;
  }
  .main__form {
    max-width: 320px;
    margin-bottom: 32px;
    height: 128px;
    flex-direction: column;
    border-radius: 0;
    overflow: hidden;
    background-color: transparent;
  }
  .main__form_input {
    border-radius: 100px;
    padding-left: 20px;
    width: auto;
    margin-left: 0;
    margin-bottom: 16px;
    max-height: 56px;
  }
  .main__form_submit-button {
    max-height: 56px;
    height: 100%;
  }
}

@media screen and (max-width: 356px) {
  .main__content {
    max-width: 288px;
  }
  .main__title {
    max-width: 288px;
  }
  .main__subtitle {
    margin-bottom: 122px;
  }
  .main__form {
    max-width: 288px;
  }
}