.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  padding: 0 104px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  padding: 0;
  margin: 0;
}

.footer__copyright_small {
  display: none;
}

.footer__links_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__links_link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  text-decoration: none;
}

.footer__links_item {
  padding: 0 15px;
}

.footer__links_item:last-of-type {
  margin-right: 40px;
}

.footer__link {
  width: 24px;
  height: 24px;
}

.footer__link_github {
  margin-right: 24px;
}

.footer__link_linkedin {
  margin-right: 0;
}

@media screen and (max-width: 810px) {
  .footer {
    height: 64px;
    padding: 0 40px;
  }
  .footer__copyright {
    text-align: center;
    max-width: 300px;
  }
  .footer__links_item {
    padding: 0 10px;
  }
  .footer__links_item:last-of-type {
    margin-right: 24px;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 176px;
    padding: 0;
  }
  .footer__copyright {
    display: none;
  }
  .footer__copyright_small {
    display: flex;
    margin-bottom: 22px;
  }
  .footer__links_wrapper {
    margin: 20px 16px 38px;
    align-items: baseline;
  }
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__links_item {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .footer__links_item:last-of-type {
    margin-bottom: 0;
  }
  .footer__link {
    margin-top: 0;
    margin-bottom: auto;
  }
}