.popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

.popup {
  position: fixed;
  top: calc(50% - 220px);
  left: calc(50% - 230px);
  z-index: 4;
  max-width: 430px;
  max-height: 458px;
  width: 100%;
  /* height: 100%; */
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.popup_opened {
  visibility: visible;
}

.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 34px 36px 28px;
}

.popup__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
  padding: 0;
  margin: 0 auto 22px 0;
}

.popup__bottom-link {
  
}

.popup__bottom-link_mod {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0 auto 0 0;
}

.popup__bottom-link_item {
  text-decoration: none;
  color: #2F71E5;
}

.popup__close-button {
  position: absolute;
  right: -32px;
  top: -37px;
  width: 40px;
  height: 40px;
  background: url('../../images/close-icon.png') no-repeat center;
}

.popup__close-button:active {
  opacity: 0.5;
}

@media screen and (max-width: 470px) {
  .popup {
    top: calc(50% - 230px);
    left: calc(50% - 170px);
    max-width: 320px;
    max-height: 458px;
  }

  .popup__close-button {
    right: 16px;
    top: -46px;
  }
}

@media screen and (max-width: 320px) {
  .popup {
    top: 56px;
    left: 0;
    max-width: 320px;
  }
}